// Here you can add other styles
.header {
    --cui-header-min-height: 4rem;
    --cui-header-padding-x: 0.5rem;
    --cui-header-padding-y: 0.5rem;
    --cui-header-bg: #fff !important;
    --cui-header-color: rgba(44, 56, 74, 0.681);
    --cui-header-border-color: #d8dbe0;
    --cui-header-border: 1px solid var(--cui-header-border-color);
    --cui-header-hover-color: rgba(44, 56, 74, 0.95);
    --cui-header-disabled-color: rgba(44, 56, 74, 0.38);
    --cui-header-active-color: rgba(44, 56, 74, 0.95);
    --cui-header-brand-padding-y: 0.3125rem;
    --cui-header-brand-color: #4f5d73;
    --cui-header-brand-hover-color: #475468;
    --cui-header-toggler-padding-x: 0.75rem;
    --cui-header-toggler-padding-y: 0.25rem;
    --cui-header-toggler-bg: transparent;
    --cui-header-toggler-color: rgba(44, 56, 74, 0.681);
    --cui-header-toggler-border-radius: 0.375rem;
    --cui-header-toggler-hover-color: rgba(44, 56, 74, 0.95);
    --cui-header-toggler-icon-bg: url(
        data:image/svg + xml;charset=utf8,
        %3CsvgviewBox="0 0 30 30"xmlns="http://www.w3.org/2000/svg"%3E%3Cpathstroke="rgba%2844, 56, 74, 0.681%29"stroke-width="2.25"stroke-linecap="round"stroke-miterlimit="10"d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E
    );
    --cui-header-toggler-hover-icon-bg: url(
        data:image/svg + xml;charset=utf8,
        %3CsvgviewBox="0 0 30 30"xmlns="http://www.w3.org/2000/svg"%3E%3Cpathstroke="rgba%2844, 56, 74, 0.95%29"stroke-width="2.25"stroke-linecap="round"stroke-miterlimit="10"d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E
    );
    --cui-header-nav-link-padding-x: 0.5rem;
    --cui-header-nav-link-padding-y: 0.5rem;
    --cui-header-divider-border-color: #d8dbe0;
    --cui-header-divider-border: 1px solid
        var(--cui-header-divider-border-color);
    --cui-subheader-min-height: 3rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: var(--cui-header-min-height);
    padding: var(--cui-header-padding-y) var(--cui-header-padding-x);
    background: var(--cui-header-bg);
    border-bottom: var(--cui-header-border);
}


